VITE_SANITY_PROJECT_ID="<your id>"
VITE_SANITY_DATASET="<Usually defaults to production>"
VITE_SANITY_API_VERSION="<Your Version>"
VITE_SANITY_USE_CDN=true
SANITY_API_READ_TOKEN="<KEEP PRIVATE READ API TOKEN>"